<ion-view title="Profile" id="page6">
  <ion-content padding="true" class="has-header">

  	<div id="profile-bg"> </div>
      <div id="content">
        <div id="profile-info">
          <img id="profile-image" src="img/jnulu31lRgG0xSyXZGd5_3818635296b2d5c7891d869edeb3e8fd.jpg">
          <h3 id="profile-name">Dinesh</h3>
          <a href="mailto: dipatil@ptc.com?subject=Smart Clothes" id="profile-button7" class="button button-light icon ion-email ic-selected" data-componentid="button7">
            dipatil@ptc.com
          </a>
        </div>
      </div>


     <!-- any content here... -->


    <div class="list card" id="contentTemp">

      <a href="" class="item item-icon-left">
        <i class="icon ion-home"></i>
        Address
      </a>

      <a href="" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        Enter phone number
      </a>

      <a href="" class="item item-icon-left">
        <i class="icon ion-wifi"></i>
        Enter wireless password
      </a>

      <a href="" class="item item-icon-left">
        <i class="icon ion-card"></i>
        Enter card information
      </a>

    </div>

  </ion-content>
</ion-view>
